
<div class="header"><h1> Tic Tac @ Hiver</h1></div>

<div class="parentTop">
    <div class="gridTop">
        <h3 id="text" type="hidden"></h3>
        <div id="grid">
        </div>

        <div>
            <button id="reset"> Reset</button>
        </div>
    </div>
</div>


<script type="text/javascript" src="./index.js" ></script>
<link rel="stylesheet" href="./index.css">
